<main>
  <div class="container" style="width: 30%">
    <div class="col-md-7 col-lg-8" style="width: 100%; margin: 150px 0 0; background: #212529; padding: 35px;">
      <p style="color: white;">Your Name:</p>
      <form [formGroup]="form" (submit)="onSubmit()">
        <input type="text" formControlName="login" class="form-control"><br>
        <div class="alert alert-danger"
             *ngIf="form.controls['login'].invalid && form.controls['login'].touched">
          Write your name!
        </div>
        <button type="submit" class="btn btn-success" [disabled]="form.invalid" style="width: 100%">Login</button>
      </form>
      <p class="error" style="color: crimson; margin: 15px 0 0;">{{errorMsg}}</p>
    </div>
  </div>
</main>
