<main>
  <div class="container-width">
    <div class="container">
      <div class="col-md-7 col-lg-8">
        <p class="white">Your Name:</p>
        <form [formGroup]="form" (submit)="onSubmit()">
          <input type="text" formControlName="login" class="form-control"><br>
          <div class="alert alert-danger"
               *ngIf="form.controls['login'].invalid && form.controls['login'].touched">
            Write your name!
          </div>
          <button type="submit" class="btn btn-success" [disabled]="form.invalid">Login</button>
        </form>
        <p class="error">{{errorMsg}}</p>
      </div>
    </div>
  </div>
</main>
