<head>
  <title>{{title}}</title>
</head>
<body>
<router-outlet></router-outlet>
</body>
<div style="background: #212529!important; position: fixed; width: 100%; left: 0; bottom: 0;">
  <footer class="my-5 pt-5 text-muted text-center text-small" style="padding: 0!important; margin: 20px 0!important;">
    <p class="mb-1">Virtual Classroom project for <a href="https://softarex.com/"
                                                     class="text-white">Softarex</a>,
      by <a href="https://github.com/Elmax19" class="text-white">@MaksimKohnovich</a>.</p>
  </footer>
</div>
