<nav>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <li class="nav-item dropdown">
        <p class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">
          Actions</p>
        <ul class="dropdown-menu" aria-labelledby="dropdown04">
          <li><a class="dropdown-item" (click)="raiseHand()">
            <div *ngIf="user.hand;else unset">Raise hand down</div>
            <ng-template #unset>
              Raise hand up
            </ng-template>
          </a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <p class="nav-link dropdown-toggle" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false">
          {{user.login}}
        </p>
        <ul class="dropdown-menu" aria-labelledby="dropdown04">
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </div>
  </div>
</nav>
<main class="flex-shrink-0">
  <div class="album py-3 bg-light">
    <div class="container-padding">
      <div class="container">
        <div style="margin: auto; width: max-content;">
          <p>Class members</p>
          <table border="1px">
            <tr *ngFor="let student of students">
              <td class="login">{{student.login}}</td>
              <td class="hand"><img *ngIf="student.hand" src="assets/images/hand.png"
                                    alt="hand"
                                    height="25px"/></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
